.bg- {
    &primary {
        background: hsl(235, 16%, 14%);
    }

    &stars {
        background: url(/src/assets/images/bg-stars.svg);
    }

    &hills {
        background: url(/src/assets/images/pattern-hills.svg);
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-size: contain;
    }

    &timer {
        background: linear-gradient(
            to top,
            #343650 0%,
            #343650 50%,
            #252737 50%,
            #252737 100%
            );
        // background: hsl(236, 21%, 26%);
        height: 170px;
        width: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 18px 18px 0 #191a24;
        &::before, &::after{
            content: '';
            position: absolute;
            bottom:calc(50% - 7px);
            width: 10px;
            height: 15px;
            background: #191a24;
            z-index: 2;
        }
        
        &::before{
            left: 0;
            border-radius: 0 50px 50px 0;
            }
        &::after{
            right: 0;
            border-radius: 50px 0 0 50px;
            }
            >span{
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    }
}
.span-top{
    animation: spantop 1s infinite
};

@keyframes spantop{
    0%{
        opacity: 1;
    }
    100%{
        transform: rotatex(90deg) scaleX(100%);
    }
}

// .top-flip {
//     animation: topflip 1s ease-in-out infinite;
//     z-index: 1;
// }
.flip-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #252737;
    overflow: hidden;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;
    >span{
    top: 50%;
    }
}
.flip-container-bottom{
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transform: rotateX(90deg);
    >span{
        bottom: 50%;
    }
}

.drop {
    animation: drop 1s ease-in-out infinite;
    z-index: 1;
}
.below{
    animation: below 1s ease-in-out infinite;
    z-index: 1;
}
.fade{
    animation: fade 1s linear infinite;
}
// .bottom-flip {
//     animation: bottomflip 1s infinite;
// }

@keyframes drop {

    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
        transform: rotateX(10deg);
    }
    75% {
        // opacity: 0.8;
        transform: translateY(100%) rotateX(160deg);
    }

    100% {
        // opacity: 0;
        transform: translateY(100%) rotateX(160deg);
    }

}
@keyframes below {

    0% {
        opacity: 0;
        transform: translateY(-50%) rotateX(90deg);
    }
    50%{
        opacity: 1;
        transform: translateY(-50%) rotateX(90deg);
    }
    75% {
        opacity: 1;
        // transform:  rotateX(90deg);
        // transform: translateY(-100%) rotateX(120deg);
        transform:translateY(0%) rotateX(0deg) ;
    }
    
    100% {
        opacity: 1;
        transform:  translateY(0%) rotateX(0deg) ;
    }

}
@keyframes fade {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.bottom-text{
    position: absolute;
    bottom: 50%;
}